.nav {
    grid-area: n;
    background-color: rgb(110, 83, 47);
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}

.item a:active, .item a:focus{
    color: rgb(56, 47, 18);
} 

