.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: rgb(107, 218, 131);
}



.header img {
  width: 90px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: rgb(68, 172, 204);
}